*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
 
  min-height:100vh;
}

.container{
  width:100%;
}

.card{
  padding:25px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  margin-top:20px;
  margin-bottom: 10px
  
}

.price{
  font-size:26px;
  font-weight:bold;
  color:#e67e22;
  margin-bottom: 10px;
  
}

button{
  padding:10px 20px;
  background:#3498db;
  border:none;
  color:white;
  border-radius:6px;
  cursor:pointer;
  margin-top:10px;
  margin-bottom: 10px;
}

button:hover{
  background:#2980b9;
}

select{
  padding:8px;
  border-radius:6px;
  margin-top:15px;
  /* margin-bottom: 10px; */
  border: 2px solid black;
}